<h2>Meine Cooole Website</h2>

<div *ngFor="let article of articles$">
  <p>Title: {{article.title}}</p>
  <img [src]="article.imageUrl" width="400" alt="Article image" />
  <p>Date: {{article.date}}</p>
  <p>Description: {{article.description}}</p>
  <p>ID: {{article.id}}</p>
  <button (click)="postNewRandomArticle()">Submit</button>
</div>
